 
.news-list .news-list__item.news-list__item__theme--shadow{
    box-shadow: 0 0 4px 3px #EDEDEF;
}
.news-list .news-list__item .news-list__image{
    height:100%;
    min-height:150px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.news-list .news-list__item .news-list__subtitle{
    color: #454546;
    font-weight: 600;
}
/*
.news-list__date__image{

}
*/
.news-list__title.news-list__title_color_blue{
    font-weight: 600;
    font-size: 1rem;
    color:#0071B3;
}
.news-list__date{
    font-style: italic;
}
.news-list__content{
    font-size: 0.8rem;
}
/*.news-list__link{

}*/